<head>
  <title>IAGL Chat</title>
</head>

<body>
   <div class="container">
    <header>
      <h1>IAGL Chat</h1>
    </header>

    <!-- chat messages here -->
    <!-- more-messages button -->

    <footer>
        <form class="new-message">
          <input type="text" name="text" placeholder="Add a message" autocomplete="off"/>
        </form>
    </footer>
 </div>
</body>

<!-- message template here -->